<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>Announcement</title>

    <!-- CSS Links -->
    <th:block th:insert="~{/admin/fragments::link}"/>
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <th:block th:insert="~{/admin/fragments::theSidebar}"/>
    <!-- Begin Page Content -->

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <th:block th:insert="~{/admin/fragments::theNavbar}"/>

            <!-- min khant frontend -->

            <div class="m-4 bg-light shadow-lg ">

                <div class="container-fluid " style="color: black;">
                    <th:block th:if="${form.id != null }">
                        <form enctype="multipart/form-data" method="post"
                              th:action=" @{/admin/update-announcement/(id=${form.id})}" th:object="${form}">
                            <div class="row pt-5">
                                <div class="col-lg-4" style="padding-left: 100px;">
                                    <label class="col-form-label" for="bName">Announcement Name</label>
                                </div>
                                <div class="col-lg-5">
                                    <input class="form-control" id="bName" placeholder="Announcement Name"
                                           th:field="*{anmName}"
                                           type="text">
                                <span class="text-danger" th:errors="*{anmName}"
                                      th:if="${#fields.hasErrors('anmName')}">
                                </span><span class="text-danger">[[${error}]]</span>
                                </div>
                            </div>
                            <br>
                            <!-- <div class="row ">
                                <div class="col-lg-4" style="padding-left: 100px;">
                                    <label class="col-form-label" for="description2">Brand Description</label>
                                </div>
                                <div class="col-lg-5">
                                <textarea class="form-control" id="description2"
                                          placeholder="Description...."
                                          rows="3"
                                          style="width:100%"
                                          //th:field="*{brandDescription}"
                                          type="text"></textarea>
                                </div>

                            </div>
                            <br> -->
                            <div class="row">
                                <div class="col-lg-4">

                                </div>
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <div class="upload__box">
                                            <div class="upload__btn-box">
                                                <label class="upload__btn">
                                                    <p class="mb-0">Upload images</p>
                                                    <input class="upload__inputfile" data-max_length="20" multiple=""
                                                           th:field="*{anmImage}" type="file"/>
                                                </label><br><span class="text-danger">[[${errorimg}]]</span>
                                            </div>
                                            <div class="upload__img-wrap"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-lg-8"></div>
                                <div class="col-lg-4">
                                    <button class="btn btn-info" type="submit">UPDATE</button>
                                </div>
                            </div>
                        </form>
                    </th:block>

                    <th:block th:if="${form.id == null}">
                        <form enctype="multipart/form-data" method="post"
                              th:action="@{/admin/add-announcement/}" th:object="${form}">
                            <div class="row pt-5">
                                <div class="col-lg-4" style="padding-left: 100px;">
                                    <label class="col-form-label" for="bName">Announcement Name</label>
                                </div>
                                <div class="col-lg-5">
                                    <input class="form-control" id="bName" placeholder="Announcement Name"
                                           th:field="*{anmName}"
                                           type="text">
                                <span class="text-danger" th:errors="*{anmName}"
                                      th:if="${#fields.hasErrors('anmName')}">
                                </span><span class="text-danger">[[${error}]]</span>
                                </div>
                            </div>
                            <br>
                            <!-- <div class="row ">
                                <div class="col-lg-4" style="padding-left: 100px;">
                                    <label class="col-form-label" for="description2">Brand Description</label>
                                </div>
                                <div class="col-lg-5">
                                <textarea class="form-control" id="description2"
                                          placeholder="Description...."
                                          rows="3"
                                          style="width:100%"
                                        //th:field="*{brandDescription}"
                                          type="text"></textarea>
                                </div>

                            </div>
                            <br> -->
                            <div class="row">
                                <div class="col-lg-4">

                                </div>
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <div class="upload__box">
                                            <div class="upload__btn-box">
                                                <label class="upload__btn">
                                                    <p class="mb-0">Upload images</p>
                                                    <input class="upload__inputfile" data-max_length="20" multiple=""
                                                           th:field="*{anmImage}" type="file"/>
                                                </label><br><span class="text-danger">[[${errorimg}]]</span>
                                            </div>
                                            <div class="upload__img-wrap"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-lg-8"></div>
                                <div class="col-lg-4">
                                    <button class="btn btn-info" type="submit">ADD</button>
                                </div>
                            </div>
                        </form>
                    </th:block>
                    <br><br>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Announcement List</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Announcement Name</th>
                                        <!-- <th>Brand Description</th> -->
                                        <th>Announcement Image</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item:${anmList}">
                                        <td th:text="${itemStat.index + 1}"></td>
                                        <td>[[${item.anmName}]]</td>

                                        <td class="text-center"><img alt="Announcement Image"
                                                                     style="width: 85px; height: 85px"
                                                                     th:src="@{${item.anmImage}}"/>
                                        </td>
                                        <td class="text-center"><a
                                                class="btn btn-info m-2"
                                                th:href="@{/admin/update-announcement(id=${item.id})}"><i
                                                class="fas fa-edit"></i></a><a
                                                class="btn btn-danger m-2"
                                                th:href="@{/admin/delete-announcement(id=${item.id})}"><i
                                                class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br>

                </div>
            </div>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:insert="~{/admin/fragments::theFooter}"/>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Model -->
<th:block th:insert="~{/admin/fragments::logoutmodel}"/>

<!-- JavaScript Link -->
<th:block th:insert="~{/admin/fragments::body/script}"/>
</body>

</html>