<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/adminstyle/vendor/fontawesome-free/css/all.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/adminstyle/vendor/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/adminstyle/vendor/bootstrap/css/bootstrap-select.min.css}" type="text/css"/>
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/adminstyle/css/sb-admin-2.css}"/>

    <!-- DataTable css -->
    <link rel="stylesheet" th:href="@{/adminstyle/vendor/datatables/dataTables.bootstrap4.css}"/>

    <!-- Styles css -->
    <link rel="stylesheet" th:href="@{/adminstyle/css/styles.css}"/>
</head>

<body>
<!-- Sidebar -->
<ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="theSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/admin/}">
        <div class="sidebar-brand-icon">
            <i class="fab fa-uncharted"></i>
        </div>
        <div class="sidebar-brand-text mx-3">
            <span>Dashboard</span>
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider"/>

    <!-- Heading - Admin Management-->
    <div class="sidebar-heading text-white">Admin Management</div>

    <!-- Nav Item - Admin Collapse Menu -->
    <li class="nav-item">
        <a
                aria-controls="collapseAdmin"
                aria-expanded="true"
                class="nav-link collapsed"
                data-target="#collapseAdmin"
                data-toggle="collapse"
                href="#"
        >
            <i class="fas fa-user-cog"></i> <span>Admin</span>
        </a>
        <div aria-labelledby="headingAdmin" class="collapse" data-parent="#accordionSidebar" id="collapseAdmin">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Admin:</h6>
                <a class="collapse-item" th:href="@{/admin/role}">Admin's Role</a>
                <a class="collapse-item" th:href="@{/admin/users}">Add Admin</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider"/>

    <!-- Heading - Product Management-->
    <div class="sidebar-heading text-white">Product Management</div>

    <!-- Nav Item - Brand -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/brand}"> <i class="fas fa-tags"></i> <span>Brands</span> </a>
    </li>

    <!-- Nav Item - Category -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/category}">
            <i class="fas fa-clipboard-list"></i> <span>Category</span>
        </a>
    </li>

    <!-- Nav Item - Sub-Category -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/sub-category}">
            <i class="fas fa-clipboard-list"></i> <span>Sub-Category</span>
        </a>
    </li>

    <!-- Nav Item - Discount -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/discount}">
            <i class="fas fa-percentage"></i> <span>Discount</span>
        </a>
    </li>

    <!-- Nav Item - Product Collapse Menu -->
    <li class="nav-item">
        <a
                aria-controls="collapseProduct"
                aria-expanded="true"
                class="nav-link collapsed"
                data-target="#collapseProduct"
                data-toggle="collapse"
                href="#"
        >
            <i class="fab fa-product-hunt"></i> <span>Product</span>
        </a>
        <div
                aria-labelledby="headingProduct"
                class="collapse"
                data-parent="#accordionSidebar"
                id="collapseProduct"
        >
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Product:</h6>
                <a class="collapse-item" th:href="@{/admin/add-product/}">Add Product</a>
                <a class="collapse-item" th:href="@{/admin/products/}">Products</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider"/>

    <!-- Heading Orders -->
    <div class="sidebar-heading text-white">Order & Customer</div>

    <!-- Nav Item - Orders Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/orders}"> <i class="fas fa-dolly"></i> <span>Orders</span> </a>
        <a class="nav-link" href="tables.html"> <i class="fas fa-users"></i> <span>Customers</span></a>
    </li>

    <li class="nav-item">
        <a
                aria-controls="collapseSetting"
                aria-expanded="true"
                class="nav-link collapsed"
                data-target="#collapseSetting"
                data-toggle="collapse"
                href="#"
        >
            <i class="fas fa-cog"></i> <span>Setting</span>
        </a>
        <div
                aria-labelledby="collapseSetting"
                class="collapse"
                data-parent="#accordionSidebar"
                id="collapseSetting"
        >
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Address:</h6>
                <a class="collapse-item" th:href="@{/admin/region/}">Add Region</a>
                <a class="collapse-item" th:href="@{/admin/city/}">Add City</a>
                <a class="collapse-item" th:href="@{/admin/township/}">Add Township</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider"/>

    <!-- Heading  Information Management -->
    <div class="sidebar-heading text-white">Information</div>

    <!-- Nav Item - Information Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/announcement}">
            <i class="fas fa-bullhorn"></i> <span>Announcement</span>
        </a>
        <!--        <a class="nav-link" href="tables.html">-->
        <!--            <i class="fas fa-comment-alt"></i> <span>Customer Voice</span></a-->
        <!--        >-->
        <!--        <a class="nav-link" href="tables.html"> <i class="fas fa-comment"></i> <span>Feedback</span></a>-->
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider"/>

    <!-- Heading  Report Management -->
    <div class="sidebar-heading text-white">Report</div>

    <!-- Nav Item - Report Collapse Menu -->
    <li class="nav-item">
        <a
                aria-controls="collapseReport"
                aria-expanded="true"
                class="nav-link collapsed"
                data-target="#collapseReport"
                data-toggle="collapse"
                href="#"
        >
            <i class="fas fa-scroll"></i> <span>Reports</span>
        </a>
        <div
                aria-labelledby="headingReport"
                class="collapse"
                data-parent="#accordionSidebar"
                id="collapseReport"
        >
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Reports:</h6>
                <a class="collapse-item" href="utilities-border.html">Customer Report</a>
                <a class="collapse-item" href="utilities-border.html">Feedback Report</a>
                <a class="collapse-item" href="utilities-color.html">Product Report</a>
                <a class="collapse-item" href="utilities-border.html">Order Report</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block"/>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->

<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:fragment="theNavbar">
    <!-- Sidebar Toggle (Topbar) -->
    <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop">
        <i class="fa fa-bars"></i>
    </button>

    <div class="col text-center d-block">
        <a href="#"><img style="height: 30px" th:src="@{/adminstyle/img/TeamYearLatestFinalB.png}"/></a>
    </div>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- Nav Item - Search Dropdown (Visible Only XS) -->

        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1"></li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a
                    aria-expanded="false"
                    aria-haspopup="true"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    href="#"
                    id="userDropdown"
                    role="button"
            >
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" sec:authentication="principal.name"></span>
                <img class="img-profile rounded-circle" th:src="@{/adminstyle/img/undraw_profile.svg}"/>
            </a>
            <!-- Dropdown - User Information -->
            <div
                    aria-labelledby="userDropdown"
                    class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
            >
                <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" data-target="#logoutModal" data-toggle="modal" href="">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>
    </ul>
</nav>
<!-- End of Topbar -->

<!-- Footer -->
<footer class="sticky-footer bg-white" th:fragment="theFooter">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Team Y.E.A.R 2022</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

<!-- Logout Modal-->
<div
        aria-hidden="true"
        aria-labelledby="exampleModalLabel"
        class="modal fade"
        id="logoutModal"
        role="dialog"
        tabindex="-1"
        th:fragment="logoutmodel"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                <a class="btn btn-primary" th:href="@{/admin/logout}">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/adminstyle/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/adminstyle/vendor/jquery/jquery.slim.min.js}"></script>
<script th:src="@{/adminstyle/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/adminstyle/vendor/bootstrap/js/bootstrap-select.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/adminstyle/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/adminstyle/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/adminstyle/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/adminstyle/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/adminstyle/js/demo/datatables-demo.js}"></script>

<!-- Custom scripts for product register -->
<script th:src="@{/adminstyle/js/index.js}"></script>
<script th:src="@{/adminstyle/js/product-details.js}"></script>
</body>
</html>