<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-backdrop="static"
     data-keyboard="false"
     id="staticBackdrop" tabindex="-1" th:fragment="cartItem">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-center modal-title" id="staticBackdropLabel">Shooping Cart</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="bi bi-x"></i><!-- &times; --></span>
                </button>
            </div>
            <form action="">
                <div class="modal-body table-responsive">
                    <table class="table table-borderless content-section">
                        <thead class="">
                        <tr class="d-table-row">
                            <th class="d-table-cell"></th>
                            <th class="d-table-cell col">Item</th>
                            <th class="d-table-cell text-right">Price</th>
                            <th class="d-table-cell text-center">Quantity</th>
                            <th class="d-table-cell text-right">Total</th>
                            <th class="d-table-cell"></th>
                        </tr>
                        </thead>
                        <tbody class="show-cart">

                        </tbody>
                    </table>
                    <div class="cart-total">
                        <div class="cart-total-title">Total $<span class="cart-total-price total-cart">0</span></div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="clear-cart btn btn-danger">Clear Cart</button>
                    <button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
                    <a class="btn btn-info" th:href="@{/check-out}" type="button">Check-out</a>
                </div>
            </form>

        </div>
    </div>
</div>

</html>