<!-- footer -->
<footer class="">
  <div class="row second-clr mb-5">
    <div class="col-md-4">
      <h4 class="mb-4">Customer service</h4>
      <p><a class="" href="#">Freqently Asked Question</a></p>
      <p><a href="#">Term & Conditions</a></p>
    </div>
    <div class="col-md-4">
      <h4 class="mb-4">Contact Us</h4>
      <address><i class="fa-solid fa-phone"></i><a href="tel:+95 976854321">&nbsp; &nbsp;+95 976854321</a> , <a href="tel:+95 9768545651">+95 9768545651</a><br><i class="fa-solid fa-envelope"></i><a href="mailto:teamyear@ecommerce.org">&nbsp; &nbsp;teamyear@ecommerce.org</a></address>
    </div>
    <div class="col-md-4">
      <h4 class="mb-4">Follow Us</h4>
      <div class="wrapper">
        <div class="icon" style="--color: #3B5999">
          <div class="tooltip">Facebook</div>
          <i class="fa-brands fa-facebook"></i>
        </div>
        <div class="icon" style="--color: #784d9b">
          <div class="tooltip">Viber</div>
          <i class="fa-brands fa-viber"></i>
        </div>
        <div class="icon" style="--color: #2ea2d8">
          <div class="tooltip">Telegram</div>
          <i class="fa-brands fa-telegram"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center second-clr">
    &copy; 2022 All Rights Reserved. Design by <span class="first-clr">Y.E.A.R</span>.
  </div>
</footer>
<!-- End Footer -->